<br>
<br>
<div>

<h1 style="font-weight: bold ;">IISER Private Cloud Platform</h1>

<div class="top-nav-right">
  <nav>
    <a class="routerLink"
    routerLink="/home"
    routerLinkActive="routerLinkActive">HOME</a>
  
  
    <a class="routerLink"
    routerLink="/faq"
    routerLinkActive="routerLinkActive">FAQ</a>
  
    <a class="routerLink"
    routerLink="/contact"
    routerLinkActive="routerLinkActive">CONTACT</a>
  </nav>
  
 
</div>
</div>
<br>
<hr style="width:99% ; border-width: 8px; color:black;">



<div class="content-body"><router-outlet></router-outlet></div>
